.main-product-grid {
    display: flex;
    padding: 60px 0;
    align-items: flex-start;
}
.main-product-grid div#filters {
    min-width: 290px;
    padding-right: 3rem;
}
.main-product-grid div#productList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
}
div#productList .product {
    box-shadow: #00000013 0 2px 6px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    -webkit-transition-duration: .55s;
    transition-duration: .55s;
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
    border: 0;
    text-align: center;
    color: #000000;
}
div#productList .product:hover{
    box-shadow: #00000026 0 50px 95px -15px;
    -webkit-transform: scaleX(1.05) scaleY(1.05);
    transform: scaleX(1.05) scaleY(1.05);
}
div#productList .product .title{
    font-weight: 500;
    margin: 8px 0;
    font-family: Poppins, sans-serif;
    letter-spacing: 0px;
    line-height: 25px;
    font-size: 14px;
    color: #444;
    padding: 0 5px;
}
div#productList .product .prod-available {
    font-size: 14px;
    margin: 0;
    color: #444;
}
.product-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #000000;
    margin: 8px 0;
}
div#productList .product span.you-save-s {
    position: absolute;
    top: 8px;
    left: 8px;
    color: #fff;
    background: #f85464;
    border-radius: 4px;
    line-height: 18px;
    font-size: 11px;
    padding: 0px 4px;
}
.product-price .compare-price{
    font-size: 14px;
    text-decoration: line-through;
}
.product-price .product-price-s{
    color: #ca0a1b;
    font-size: 18px;
}
div#productList .product a{
    text-decoration: none;
}
.product-image img {
    width: 100%;
    min-height: 237px;
    object-fit: contain;
}
.location-filter{
    margin-bottom: 12px;
}
.location-filter select{
    font-family: var(--font-body-family);
    font-size: 16px;
    width: 100%;
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}
